* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.faqsecao {
    padding: 0 100px ;
    display: flex;
    font-family: 'Poppins', sans-serif;
}

.faqtexto h3 {
    color: #814813;
    font-size: 20px;
    margin-bottom: 32px;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #D8D8D8;
    display: flex;
    justify-content: space-between; 
}

.faqtexto h3::after {
    height: 100%;
    font-size: 16px;
    content: "\25BC"; 
    transition: transform 0.3s ease;
}

.faqtexto p {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 16px;
    max-width: 1168px;
    display: none;
}

.faqtexto h3.open::after {
    transform: rotate(180deg); 
}


.faqtexto p.show {
    display: block;
}

@media screen and (max-width: 768px) {
    .faqsecao {
        padding: 40px;
    }

    .faqtexto h3::after {
        content: "\25BC"; 
    }

    .faqtexto p {
        font-size: 16px;
        line-height: 1.5;
    }
}