.menu{
    max-width: var(--width);
    background-color: var(--background-green);
    color: var(--color-white);
    margin: 32px 0 32px auto;
    
}

.listamenu a{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    color: var(--color-white);
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
}

.linkmenu a:hover{
    color: var(--color-brown);
    background-color: var(--color-white);
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.listamenu{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}