.naturezasecao {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
    padding: 0 50px;
}

.naturezaimg-lista{
    height: 55vh;
    width: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}


.naturezaimg{
    cursor: pointer;
    position: relative;
}

.naturezaimg img{
    width: 900px;
}

.naturezaimg-lista span{
    background-color: var(--background-green);
    color: var(--color-white);
    top: 0;
    right: 0;
    
}


.naturezaimg-lista::-webkit-scrollbar{
    width: 10px;
}

.naturezaimg-lista::-webkit-scrollbar-thumb{
    background-color: #75d2a8;
    border-right: 2px solid #d8d8d8;
    border-left: 2px solid #d8d8d8;
    border-radius: 2px;
}

.naturezatexto h2{
    color: var(--color-brown);
    font-family: var(--font-display); 
    font-size: 32px;
    margin-bottom: 32px;
    
}

.naturezatexto p {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 16px;
    max-width: 900px;
}

